<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h2>{{ card.name }}</h2>

<h3>Card Text</h3>
<div class="card-text"><p>{{ card.text }}</p>
</div>

<h3>Flavor</h3><p class="flavor">{{ card.quote }}</p>
<ul class="card-props">
    {% if card.strength %}
    <li><strong>Strength:</strong> {{ card.strength }}</li>
    {% endif %}
    <li><strong>Group:</strong> <a href="#"> {{ card.group }}</a></li>
    <li><strong>Rarity:</strong> <a href="#"> {{ card.rarity }} </a></li>
    {% if card.loyalty %}
    <li><strong>Loyalty:</strong> <a href="#"> {{ card.loyalty }} </a></li>
    {% endif %}
    <li><strong>Faction:</strong> <a href="#"> {{ card.faction }} </a></li>
    <li><strong>Position:</strong> <a href="#"> {{ card.position }} </a></li>
    {% if card.type %}
    <li><strong>Type:</strong> <a href="#"> {{ card.type }}</a></li>
    {% endif %}
</ul>

<h3>Crafting/Milling Costs</h3>
<ul class="card-cats">
    <li><strong>Craft:</strong> {{ card.craft_cost }}</li>
    <li><strong>Mill:</strong> {{ card.mill_cost }}</li>
</ul>

<h3>Mechanics</h3>


<ul class="card-cats">
    {% for m in card.mechanics %}
    <li>
       {{ m }}
    </li>
    {% endfor %}
</ul>


</body>
</html>